<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" [routerLink]="['/home']" style="cursor: pointer;">TerraLogger</a>
    <div class="d-flex align-items-center">
      <p class="text-white pt-2 mr-3">{{email}}</p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="signOut()">Logout</button>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="region-container shadow">
        <select class="region-input-box" (change)="getApp($event)" *ngFor="let app of apps">
          <option selected disabled>App</option>
          <option [value]="app">{{app}}</option>
        </select>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="region-container shadow">
        <select class="region-input-box" (change)="getEnvironment($event)">
          <option value="production">production</option>
          <option value="staging">staging</option>
        </select>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="col-md-8">
      <div class="screen-box">
        <div #myTerminal></div>
      </div>
    </div>

  </div>
</div>
